html, body, .container-table {
    height: 100%;
}

.logo {
    display: inline-block;
    width: 115px !important;
    margin-left: -40px;
}

.logo-text {
    display: inline-block;
    margin-left: 20px;
    vertical-align: bottom;
}

.container-logo {
    padding-bottom: 30px;
    padding-top: 60px;
}

.container-table {
    width: 860px;
}

.searchboxContainer {
    margin-left: 115px;
}

.searchbox {
    width: 700px;
}

section {
    margin-top: 60px;
}

td {
    text-align: left;
}

.container-github {
    position: relative;
    top: -40px;
    left: 163px;
}

header {
    background-color:rgb(237, 238, 238);
    padding-bottom: 40px;
}

footer {
    background-color:rgb(237, 238, 238);
}

.text-center {
    padding-left:70px;
}
.about {
    padding-top:20px;
}
.about h4{
text-align: center;
}

.contributions {
    padding-top: 20px; 
}

.newDev {
    padding-left:70px;
    text-align: left;
    padding-top:20px;
}

.contributions h4 {
    text-align: center;
}
