

body {
    color: #f9917b;
    background-color: #fcf6ec;
}

.projectInformation {
    padding: 5px;
    background-color:#6060601a;
    border-radius: 15px;
    text-align: center;
    height: 250px;
}
.projectInformation p{
    height: 117px;
    margin: 0 auto;

    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  
}


.dataApps {
    background-color:#6060601a;
    border-radius: 15px;
}

#alternatives{
    text-align: center;
}

a {
    color:#f9917b;
    text-decoration: none;
}

.apps div.row {
    margin-top: 5px;
    margin-bottom: 5px;
}

