html, body, .container-table {
    height: 100%;
}

.logo {
    display: inline-block;
    width: 115px !important;
    margin-left: -40px;
}

.logo-text {
    display: inline-block;
    margin-left: 20px;
    vertical-align: bottom;
}

.container-logo {
    padding-bottom: 30px;
    padding-top: 60px;
}

.container-table {
    width: 930px;
}

.searchboxContainer {
    margin-left: 115px;
}

.searchbox {
    width: 700px;
}

section {
    margin-top: 60px;
}

td {
    text-align: left;
}

.container-github {
    position: relative;
    top: -40px;
    left: 163px;
}

header {
    background-color: aliceblue;
    padding-bottom: 40px;
}