html, body, .container-table {
    height: 100%;
}

.logo {
    display: inline-block;
    width: 115px !important;
}

.logo-text {
    display: inline-block;
    margin-left: 20px;
    vertical-align: bottom;
}

.container-logo {
    padding-bottom: 30px;
    padding-top: 60px;
}

.container-table {
    width: 930px;
}

.searchboxContainer {
    margin-left: 10px;
}

.searchbox {
    width: 900px;
}

section {
    margin-top: 60px;
}

td {
    text-align: left;
}
