
body {
    background-color: #f5f0ef;
}

p {
    font-family: verdana;
	margin: 2px 25px 2px 25px;
	}

.title1 {
	font-family: georgia;
	font-style: italic;
	font-size: 15px;
	color:  #f98e78;
	margin-top:10px;
	margin-bottom: 10px; 
}

.title2 {
	font-size: 12px;
}	